{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% comment %} 

Hiển thị sơ đồ lớp
Hiển thị form đánh giá Tiết Học

{% endcomment %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>Thêm lịch học</h2>
<form method="POST">
    {% csrf_token %}
    {{timetable_form.as_p }}
    <button type="submit">Thêm</button>
</form>

{% endblock content %}