{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% comment %} 
http://127.0.0.1:8000/login/

Login chính là home
Để đăng nhập cần nhập 2 trường, email và password (input)
email: {{loginForm.email}}
password: loginForm.password

Lưu ý: 
1. phải đặt 2 trường này trong thẻ form, not table
2. method như vd bên dưới đang sử dụng
3. {% csrf_token %} nằm dưới thẻ form


{% endcomment %}


{% block content %}

<form id="loginForm" method="post" action="{% url 'Login' %}">
    {% csrf_token %}
    {{ loginForm.as_p }}
    <button type="submit">Login</button>
</form>

<!-- Form Tra Cứu -->
<form id="lookupForm" method="post" action="{% url 'LookUP' %}"> <!-- Chú ý: Giả sử 0 là giá trị mặc định hoặc placeholder -->
    {% csrf_token %}
    {{ lookupForm.as_p }}
    <button type="submit">Lookup</button>
</form>


{% comment %} <h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ loginForm.as_p }}
    <button type="submit">Login</button>
</form> {% endcomment %}


{% comment %} <h1>Login</h1>

    <!-- Form Đăng Nhập -->
    <form id="loginForm" method="post" action="{% url 'Login' %}">
        {% csrf_token %}
        {{ loginForm.as_p }}
        <button type="submit" onclick="setAction('login')">Login</button>
    </form>

    <!-- Form Tra Cứu -->
    <form id="lookupForm" method="post" action="{% url 'LookUP' %}">
        {% csrf_token %}
        {{ lookupForm.as_p }}
        <button type="submit" onclick="setAction('lookup')">Lookup</button>
    </form>

    <script>
        // Function để đặt hành động tương ứng dựa trên nút mà người dùng nhấn
        function setAction(action) {
            if (action === 'login') {
                document.getElementById('loginForm').action = "{% Login' %}";
                document.getElementById('lookupForm').action = "{% url 'student_lookup_form' %}";
            } else if (action === 'lookup') {
                document.getElementById('loginForm').action = "{% url 'teacher_login_home' %}";
                document.getElementById('lookupForm').action = "{% url 'LookUP' %}";
            }
        }
    </script> {% endcomment %}



{% endblock content %}