{% extends "base.html" %}
{% load static %}
{% block title %}SignUp{% endblock title %}


{% comment %} 

http://127.0.0.1:8000/signup/

Sigin là để đăng kí giáo viên
Để đăng nhập cần nhập 5 trường, email, id, first_name , last_name , password1 ,password2 (input)
email: {{SignUpForm.email}}
password: SignUpForm.password
cấu trúc tương tự cho các trường còn lại

Lưu ý: 
1. phải đặt 2 trường này trong thẻ form, not table
2. method như vd bên dưới đang sử dụng
3. {% csrf_token %} nằm dưới thẻ form


{% endcomment %}


{% block content %}
{% comment %} <h2>SignUp</h2>
<form method="post">
    {% csrf_token %}
    {{ signupForm.as_p }}
    <button type="submit">Sign Up</button>
</form> {% endcomment %}

<div style="background-color: #2385C4;">
    <div>
      <div class="row">
        <div class="col-sm-6">
          <h1 class="text-white text-center font-weight-bold" style="margin-top: 3%; font-size: 400%">CLASS 4.0</h1>
          <div class="d-flex justify-content-center">
            <img src="{% static "login_img.png" %}" class="" style="scale: 100%;" alt="...">
          </div>
        
        </div>
  
        <div class="col-sm-6 min-vh-100 row" style="">
          <div class="col-sm-1"></div> 
          <div class="col-sm-9 row " style=" background-color: aliceblue; border-radius: 25px; margin-top: 5%;height: 75%">
            <div class="d-flex align-items-center">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">     <!--khối form đăng nhập-->
                <div>
                    <h4 style= "outline: #2385C4 solid 7px; text-align: center; margin-left: 2%; margin-right: 2% ;">ĐĂNG KÝ</h4>
                    <p></p>
                </div>
  
                <div class=""> <!--khoi dang nhap cho dang nhap-->
                    <p></p>
                    <form action='.' method='POST'>
                        {% csrf_token %}
                        {{ signupForm.as_p }}
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>

                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>  
          
          </div>  
        </div>
      </div>
    </div>
</div>

{% endblock content %}