{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% comment %} 

Hiển thị sơ đồ lớp
for hàng - for cột 
add chỗi , đổi chỗ 
nhập tên bài họ<!-- 
đánh giá tiết học
Tiết theo chương trình




Hiển thị form đánh giá Tiết Học

Hiển thị
Tên lớp,tên môn , Tiết trong ngày

{% endcomment %}


{% block content %}

{% comment %} <h1>{{ classroom.name }}</h1>
<ul>
    {% for student in student %}
        <li>{{ student.full_name }}</li>
    {% endfor %}
</ul>

<h1>{{now_subject}}</h1>
<h1>{{period}}</h1>

<table>
    {% for row in rows %}
    <tr>
        {% for column in columns %}
        <td> 
            {% for seat in seats %}
                {% if seat.row == row and seat.column == column %}
                    Hàng: {{ seat.row }},Cột: {{ seat.column }}<br>
                    {% if seat.student %}
                    <a href="{% url 'studentMark_inSubject' classroom.name seat.student.id %}">{{ seat.student.full_name }}</a>
                    {% else %}
                    Trống
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br>
{{now}} <br>
{{day_of_week}}
<br>
{{daily_schedule}}

<h2>Thêm bài học</h2>
  <form method="POST">
    {% csrf_token %}
    {{form_addlesson.as_p }}
    <button type="submit">Thêm</button>
  </form> {% endcomment %}

  <div class="container-fluid" style="margin-top: 5%; ">
    <div class="container-fluid row">
      {% comment %} <div class="col-sm-1"></div> {% endcomment %}
      <div class="col-sm-8">
        <div style="  margin-bottom: 10px" class="row">
          <div class="container" style="margin-top: 10px">
            <div class="row">
              <div class="col">
                <div class="container overflow-hidden">
                  <div class="row">
                    <div class="col-2">
                      <div class="p-3 border bg-light text-center d-flex align-items-center justify-content-center font-weight-bold" style="border-radius: 10px; height: 60px">{{ classroom.name }}</div>
                    </div>
                    <div class="col-5">
                      <div class="p-3 border bg-light text-center d-flex align-items-center justify-content-center font-weight-bold" style="border-radius: 10px; height: 60px">{{now_subject}}</div>
                    </div>  
                    <div class="col-3">
                        <div class="p-3 border bg-light text-center d-flex align-items-center justify-content-center font-weight-bold" style="border-radius: 10px; height: 60px">{{period}}</div>
                      </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
          <div class="card" style="margin-top: 2%; margin-bottom: 1%">
            <div class="card-body">
              <h5 class="card-title">Sơ Đồ Lớp</h5>
              <div class="row row-cols-4" style="margin-top: 2% margin-bottom: 2%">
                  <tbody >
                      {% comment %} {% for student in Students %}
                      <div class="col-sm-3 mb-3">
                          <div class="card border-primary">
                              <div class="card-body text-center d-flex align-items-center justify-content-center" style="margin-top: 2%; margin-bottom: 1%">
                                  <a href="{% url 'student_detail' student.student_ID %}" class="text-white btn btn-primary text-truncate" style="font-size: 1em">{{ student.student_name }}</a>
                              </div>
                            </div>
                        </div>
                      {% endfor %} {% endcomment %}
                      {% for row in rows %}
                      <tr>
                          {% for column in columns %}
                          <td> 
                              {% for seat in seats %}
                                  {% if seat.row == row and seat.column == column %}
                                      Hàng: {{ seat.row }},Cột: {{ seat.column }}<br>

                                      {% if seat.student %}
                                      
                                      <a href="{% url 'studentMark_inSubject' classroom.name seat.student.id %}">{{ seat.student.full_name }}</a>
                                    
                                      {% else %}
                                      Trống
                                      {% endif %}
                                  {% endif %}
                              {% endfor %}
                          </td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                  </tbody>
            </div> 
            </div>
  
          </div>
          
      </div>
      <div class="col-sm-4">
        <div class="card display-5" style="margin-top: 10px">
          <div class="card-body" style="height: 60px">
            <p class="text-Blue text-center" style="font-size: 20px; ">{{now}}</p>
          </div>
        </div>
  
        <div class="card display-5" style="margin-top: 4%;margin-bottom:5%; background-color: #07478D">
          <div class="card-body row" style="height: 5%">
            <div class="col-12">
              
              <form method="post" style="margin-bottom: 5%">
                <h2 class="card-title text-white" style="margin-top: 2%;font-size:0.5em">Thông tin tiết học</h2>
                {% csrf_token %}
                <table class="table" method="post" style="font-size:0.35em; border-radius: 10px;">
                  <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Thông tin</th>
                    </tr>
                  </thead>
                  <tbody>
  
                    <tr>
                        <th scope="row">Tên bài học</th>
                        <td>        
                          <form method="POST">
                            {% csrf_token %}
                            {{form_addlesson.name }}
                          </form>
                        </td>
                    </tr>
                    <tr>
                      <th scope="row">Số tiết</th>
                      <td>        
                        <form method="POST">
                          {% csrf_token %}
                          {{form_addlesson.counter }}
                        </form>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Nhận xét</th>
                      <td>        
                        <form method="POST">
                          {% csrf_token %}
                          {{form_addlesson.comment }}
                        </form>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Đánh giá</th>
                      <td>        
                        <form method="POST">
                          {% csrf_token %}
                          {{form_addlesson.grade }}
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-primary" style="transform: scale(0.8); width:100%;margin-left: auto; margin-right: auto; display: block; font-size: 0.5em; border-radius: 20px; background-image: linear-gradient(to right, #126DBC, #8C52FF);border: none;">Submit</button>
              </form>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
</div>

 {% endblock content %}
{% comment %} 
<a href="{% url 'student_detail' student.student_ID %}" 

path('student/<int:student_ID>', views.student_detail, name='student_detail'),


{% endcomment %}