{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% comment %} 

Hiển thị sơ đồ lớp
for hàng - for cột 
add chỗi , đổi chỗ 
nhập tên bài họ<!-- 
đánh giá tiết học
Tiết theo chương trình




Hiển thị form đánh giá Tiết Học

Hiển thị
Tên lớp,tên môn , Tiết trong ngày

{% endcomment %}


{% block content %}

<h1>{{ classroom.name }}</h1>
<ul>
    {% for student in student %}
        <li>{{ student.full_name }}</li>
    {% endfor %}
</ul>

<h1>{{now_subject}}</h1>
<h1>{{period}}</h1>

<table>
    {% for row in rows %}
    <tr>
        {% for column in columns %}
        <td> 
            {% for seat in seats %}
                {% if seat.row == row and seat.column == column %}
                    Hàng: {{ seat.row }},Cột: {{ seat.column }}<br>
                    {% if seat.student %}
                    <a href="{% url 'studentMark_inSubject' classroom.name seat.student.id %}">{{ seat.student.full_name }}</a>
                    {% else %}
                    Trống
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br>
{{now}} <br>
{{day_of_week}}
<br>
{{daily_schedule}}

<h2>Thêm bài học</h2>
  <form method="POST">
    {% csrf_token %}
    {{form_addlesson.as_p }}
    <button type="submit">Thêm</button>
  </form>

 {% endblock content %}
{% comment %} 
<a href="{% url 'student_detail' student.student_ID %}" 

path('student/<int:student_ID>', views.student_detail, name='student_detail'),


{% endcomment %}